* {font-size:11px;}
h2 {font-family:Verdana;font-size:12px;background-color: #bbb; font-weight: bold; line-height:25px; margin-bottom:2px; padding-left:5px}
table {width:100%;border-collapse:collapse}
.r {background-color: #fdd;}
.rr {background-color: #faa;}
.a {background-color: #dfd;}
.aa {background-color: #afa;}
.title {background-color: #ddd; padding: 10px;font-family:Verdana;font-size:12px;}
tr {color:#000;font-family: "Bitstream Vera Sans Mono","Monaco","Courier",monospace}
.ln {background-color: #ccc; width:23px; text-align:right}
