email:
  delivery_method: sendmail # smtp or sendmail

smtp_server:
  address: localhost
  port: 25
  domain: localhost
  user_name:
  password:
  authentication:

sendmail_options:
  location: /usr/sbin/sendmail
  arguments:


