* {font-family:Verdana;font-size:12px;}
h2 {background-color: #bbb; font-weight: bold; line-height:25px; margin-bottom:2px; padding-left:5px}
.r {background-color: #f99;}
.rr {background-color: #f44;}
.a {background-color: #9f9;}
.aa {background-color: #4f4;}
.title {background-color: #ddd; padding: 10px;}
.ln {background-color: #ccc; color:#000;font-family: Georgia; background-color: #ccc; width:23px; text-align:right}
